body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: auto;
}

.data-container {
    max-width: 800px;
}

h1 {
    color: #4a4a4a;
}

input, select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block; /* Make inputs block-level */
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #4cae4c;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
}

.back-link {
    font-size: 14px;
}

.form-section, .data-list-section {
    margin-top: 2em;
    text-align: left;
}

h2 {
    color: #333;
    border-bottom: 2px solid #5cb85c;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.data-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.data-list th, .data-list td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.data-list th {
    background-color: #f2f2f2;
    color: #333;
}

.message {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}
.message.success {
    color: green;
}
.message.error {
    color: red;
}